.chatgroup
  %ul{class: "chat__lists"}
    %li{class: "chatuser"}
      = message.user.name
    %li{class: "chattime"}<
      = message.created_at
  .chatmessage
    - if message.content.present?
      %p.lower-message__content
        = message.content
    - if message.image.present?
      = image_tag message.image.url, class: 'lower-message__image'
