.wrapper
.side-bar
  .header
    .username
      teradakenya
    %ul{:class => "header__lists"}
      %li{:class => "list"}
        %a{href: 'https://qiita.com/hyungg/items/20229fbd39efcb81236c' }
          %i.fa.fa-cog
      %li{:class => "list"}
        %a{href: 'https://qiita.com/hyungg/items/20229fbd39efcb81236c' }
          %i.fa.fa-pencil
  .groups
    .group
      %a{href: 'https://qiita.com/hyungg/items/20229fbd39efcb81236c' }
        .groupname
          グループ名
        .groupmessage
          おはよう
.chat
  .chatheader
    .left-header
      .chattitle
        グループ名
      .chatmember
        member:terada
    .right-header
      %a{href: 'https://qiita.com/hyungg/items/20229fbd39efcb81236c',:class => "right-header__button" }
        Edit
  .chatgroups
    .chatgroup
      %ul{:class => "chat__lists"}
        %li{:class => "chatuser"}
          teradakenya
        %li{:class => "chattime"}<
          2018/05/22 03:55
      .chatmessage
        hellochatspace
  .form
    %form{:action => ""}
      %input{:name => "newmessageform", :type => "text", :class => "messageform", :placeholder => "type a message"}/
      .form_mask
        %label{:for => "name1",:class => "icon"}
          %i.fa.fa-picture-o.fa-lg
        %input{:style => "display:none",:type => "file",:class => "imageform",:id => "name1",:id => "name1"}/
      %input{:type => "submit", :value => "Send", :class => "sendbottan"}/




