.wrapper
  .side-bar
    .header
      .username
        teradakenya
      %ul{:class => "header__lists"}
        %li{:class => "list"}
          %i.fa.fa-cog
        %li{:class => "list"}<
          %i.fa.fa-pencil
    .groups
      .group
        .group__name
          グループ名
        .group__message
          おはよう
  .chat
    .header
      .chatgrouptitle
        .chatnametitle
          グループ名
        .chatmembertitle
          member:terada
      .right-header
        %a{href: 'https://qiita.com/hyungg/items/20229fbd39efcb81236c',:class => "right-header__button" }
          Edit
    .chatgroups
      .chatgroup
        %ul{:class => "chatinfo"}
          %li{:class => "chatname"}
            teradakenya
          %li{:class => "chattime"}<
            2018/05/22 03:55
        .chatmessage
          hellochatspace
    .form
      %form{:action => ""}
        %input{:name => "newmessageform", :type => "text", :class => "messageform"}/
        %input{:type => "submit", :value => "Send", :class => "sendbottan"}/

